<div class="row-fluid">

    <form class="form-horizontal span12">

        <fieldset>

            <legend>Detalles del Usuario</legend>
            <br/>

            <div class="row">
                <div class="span8">

                    <div class="control-group">
                        <label for="wineId" class="control-label">Id:</label>

                        <div class="controls">
                            <input id="wineId" name="id" type="text" value="<%= id === null ? '' : id %>"
                                   disabled/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="name" class="control-label">Usuario:</label>

                        <div class="controls">
                            <input type="text" id="name" name="name" value="<%= name %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="email" class="control-label">Contraseña:</label>

                        <div class="controls">
                            <input type="password" id="email" name="email" value="<%= email %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                            <label for="users_password" class="control-label">Confirme Contraseña:</label>
    
                            <div class="controls">
                                <input type="password" id="users_password" name="users_password" value="<%= users_password %>"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>



                    <div class="control-group">
                        <label for="emailtrue" class="control-label">Correo Electronico:</label>

                        <div class="controls">
                            <input type="text" id="emailtrue" name="emailtrue" value="<%= emailtrue %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="telefono" class="control-label">Teléfono:</label>

                        <div class="controls">
                            <input type="text" id="telefono" name="telefono" value="<%= telefono %>"/>
                        </div>
                    </div>

                    <!--<div class="control-group">
                        <label for="year" class="control-label">Year:</label>

                        <div class="controls">
                            <select class="input-small" id="year" name="year" value="<%= year %>">
                                <option
                                <%= year == 2012?'selected':'' %>>2012</option>
                                <option
                                <%= year == 2011?'selected':'' %>>2011</option>
                                <option
                                <%= year == 2010?'selected':'' %>>2010</option>
                                <option
                                <%= year == 2009?'selected':'' %>>2009</option>
                                <option
                                <%= year == 2008?'selected':'' %>>2008</option>
                                <option
                                <%= year == 2007?'selected':'' %>>2007</option>
                            </select>
                        </div>
                    </div>-->

                    <!--<div class="control-group">
                        <label for="description" class="control-label">Notes:</label>

                        <div class="controls">
                            <textarea id="description" name="description" style="width: 90%;" rows="6"><%= description
                                %></textarea>
                        </div>
                    </div>-->

                </div>

                <div class="span4">
                    <div class="well" style="width: 180px;text-align: center;width:50%;margin: 0px auto;">
                        <p><img id="picture" width="180" src="<%= picture === null ? 'pics/wine.jpg' : 'pics/' + picture %>"/></p>
                        <p style="color:#999;"><To change the picture, drag a new picture from your file system onto the box above.</p>
                    </div>
                </div>

            </div>

        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn-primary save">Salvar</a>
            <a href="#" class="btn delete">Eliminar</a>
        </div>

    </form>

</div>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Usuario guardado con exito
        </div>
    </div>
</div>